{{page-title "Index"}}


<div class="dashboards">
    <div class="designer-line">
        <h1>Dashboard</h1>
    </div>
    <div class="dashboard">
        <div class="boards">
            <LinkTo @route="wallet">
            <div class="heading wallet">
                <i class="fa-solid fa-wallet"></i>
            <h2>Wallet</h2>
            </div>
            <div class="content">
                <h4>Your Balance</h4>
                <h1>$1234</h1>
            </div>
            </LinkTo>
        </div>

        <div class="boards">
            <div class="heading subscriptions">
                <i class="fa-solid fa-money-check-dollar"></i>
            <h2>Subscriptions</h2>
            </div>
            <div class="content">
                <h4>Your Subscriptions</h4>
                <h1>5</h1>
            </div>
        </div>

        <div class="boards">
            <div class="heading spendings">
                <i class="fa-solid fa-money-bill-transfer"></i>
            <h2>Spendings</h2>
            </div>
            <div class="content">
                <h4>Your Spendings</h4>
                <h1>$4321</h1>
            </div>
        </div>

        <div class="boards">
            <div class="heading spendingss">
                <i class="fa-solid fa-money-bill-transfer"></i>
            <h2>Spendings</h2>
            </div>
            <div class="content">
                <h4>Your Spendings</h4>
                <h1>$4321</h1>
            </div>
        </div>
    </div>
</div>